asgiref
boto3
botocore
dj-database-url
Django
django-annoying
django-appconf
django-compressor
django-environ
django-redis
django-storages
et-xmlfile
gunicorn
jmespath
openpyxl
packaging
pillow
psycopg2-binary
python-dateutil
rcssmin
redis
rjsmin
s3transfer
six
sqlparse
typing_extensions
tzdata
urllib3
whitenoise
