/* static/src/input.css */

@tailwind base;
@tailwind components;
@tailwind utilities;


/* filepath: c:\Users\nicol\Inventario\InventarioProject\filsa\static\css\custom.css */
.djdt-show-toolbar {
    display: block !important;
    z-index: 10000 !important;
    position: fixed !important;
    bottom: 10px !important;
    right: 10px !important;
}
.w-32 {

    width: 8rem;
 }
 
 .w-36 {
 
    width: 9rem;
 }

 .w-40 {

    width: 10rem;
 }

 .ui-autocomplete {
   max-width: 236px;
   max-height: 200px;

   overflow-x: scroll;
   overflow-y: scroll;

   font-size: medium;
 }