<!-- templates/_base.html -->

{% load compress %}
{% load static %}
{% load grouptag %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filsa Inventario</title>

    <!-- jQuery !-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"> </script>
<!-- jQuery UI !-->
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

    <!-- Autocomplete JS -->
   <!-- Autocomplete CSS -->
   <!-- <script src="{% static 'js/autocomplete.js' %}"></script>
   <link rel="stylesheet" href="{% static 'css/autocomplete.min.css' %}"> -->
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">  
    
    {% endcompress %}
</head>

<nav class="sm:w-full bg-blue-600 border-gray-200 dark:bg-gray-900">
    <div class="max-w-screen-xl flex flex-wrap items-center p-4">
      <a href="https://www.filsa.com.uy/" target="_blank" class="flex items-center space-x-3 rtl:space-x-reverse">
          <img src="https://filsa.s3.amazonaws.com/logo.jpg" class="h-8" alt="Filsa Logo" />
          <!-- <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Filsa</span> -->
      </a>
      <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-black-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
      </button>

      
      {% if user.is_authenticated %}
      
      <div class="flex text-white ml-3 lg:mr-0 sm:mr-0 lm:mr-0">

        Usuario: &nbsp <i><strong class="text-black-400">{{user.get_username}}</strong></i>
      
      </div>
      <a href="{% url 'logout' %}" class="ml-3 py-4 px-2 text-white hover:text-green-500 transition duration-300">Logout</a>

      {% else %}

      <a href="{% url 'login' %}" class="py-4 px-2 text-white hover:text-green-500 transition duration-300">Login</a>

      {% endif %}
    
      <div class="mx-auto hidden w-full md:block md:w-auto" id="navbar-default">
        <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
          <li>
            <a href="{% url 'home' %}" class="font-serif text-white rounded hover:bg-gray-100 md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Inicio</a>
          </li>
          <li>
            <a href="{% url 'stock' %}" class="font-serif block text-white rounded hover:bg-gray-100 md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Inventario</a>
          </li>
          <li>
            <a href="{% url 'tasks' %}" class="font-serif block text-white rounded hover:bg-gray-100 md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Tareas</a>
          </li>

          <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="font-serif text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">Movimientos<svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
            </svg>
            </button>
            <!-- Dropdown menu -->
            <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                <!-- <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton"> -->
                  <li>
                    {% if user.groups.all.0.name.strip == "Administrador"  or user.groups.all.0.name.strip == "Supervisor"  or user.groups.all.0.name.strip == "Tecnico"   or user.groups.all.0.name.strip == "Logistica" %}
                    <a href="{% url 'transfer' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Transferencia</a>
                    {% endif %}
                  </li>
                  <li>
                  {% if user.groups.all.0.name.strip == "Administrador"  or user.groups.all.0.name.strip == "Supervisor" %}
                    <a href="{% url 'inbound' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Nuevo Ingreso</a>
                   {% endif %}
                  </li>
                  <li>
                    {% if user.groups.all.0.name.strip == "Administrador"  or user.groups.all.0.name.strip == "Supervisor" or user.groups.all.0.name.strip == "Comercial" %}
                    <a href="{% url 'outboundorder' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Nuevo Egreso</a>
                    {% endif %}
                  </li>
            </div>
         
             <!-- Dropdown menu -->
             {% if user.groups.all.0.name.strip == "Administrador"  %}
            <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown-productos" class="font-serif text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">Productos<svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
              </svg>
              </button>

                 <div id="dropdown-productos" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                  <!-- <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton"> -->
                    <li>
                      <a href="{% url 'productscrud' action='crear' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Alta Nuevos Productos</a>
                    </li>
                    <li>
                      <a href="{% url 'productscrud' action='actualizar' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Actualización Productos</a>
                    </li>
                    <li>
                      <a href="{% url 'productscrud' action='eliminar' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Eliminación Productos</a>
                    </li>

                    {% endif %}
              </div>
          <li>
            {% if user.groups.all.0.name.strip == "Administrador" %}
            <a href="{% url 'newcotization' %}" data-popover-target="popover-default" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
              <svg class="w-5 h-5 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                <path fill-rule="blue" d="M8 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1h2a2 2 0 0 1 2 2v15a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h2Zm6 1h-4v2H9a1 1 0 0 0 0 2h6a1 1 0 1 0 0-2h-1V4Zm-3 8a1 1 0 0 1 1-1h3a1 1 0 1 1 0 2h-3a1 1 0 0 1-1-1Zm-2-1a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2H9Zm2 5a1 1 0 0 1 1-1h3a1 1 0 1 1 0 2h-3a1 1 0 0 1-1-1Zm-2-1a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2H9Z" clip-rule="evenodd"/>
              </svg>
              </a>
              <div data-popover id="popover-default" role="tooltip" class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800">
                
                <div class="px-3 py-2">
                    <p>Cotizaciones de Oferta</p>
                </div>
                <div data-popper-arrow></div>
            </div>
            {% endif %}
        </li>
        </ul>
      </div>
    </div>
  </nav>
  


  {% block content %}

  {% endblock content %}





    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>



</html>