{% extends '_base.html' %}

<head>
{% load static %}

</head>

{% block content %}

{% if messages %}
{% for message in messages %}
{% if "CotizacionOferta" in message.tags %}
<div class="p-4 mb-4 mx-auto text-green-800 rounded-lg bg-green-200 dark:bg-gray-800 dark:text-green-400" role="alert">
    <span class="font-medium">{{message}}</span>

    <a href="{% url 'newcotization' %}?next={{request.path}}">
        <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 ml-2 mb-2 mt-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
            Continuar
        </button>
        {% endif %}
        {% endfor %}
        {% endif %}

    </a>
</div>
<div class="grid sm:grid-cols-2 sm:gap-6 md:grid-cols-3 gap-4 block">
    
    <div class="mx-auto relative top-8 block">
        <h3 class="text-3xl font-bold dark:text-white mb-6">Crear Nueva Cotización</h3>
        <div class="relative text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
            
           El archivo excel debe contener las siguientes columnas:
           <br/> <br/>
           Codigo &nbsp; Cantidad &nbsp; Precio
           <br/> <br/>
          </div>
    <form enctype="multipart/form-data" id="forms" action="{% url 'newcotization' %}" method="POST" onsubmit="openLoader()">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" id='nuevoIngreso' class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
            Nueva Cotizacion
        </button>

    </form>


    
    </div>

     <div class="relative mx-auto top-8 lg:ml-40 overflow-x-auto block"> 
        <h3 class="text-3xl font-bold dark:text-white mb-6">Cotizaciones de Oferta Vigentes</h3>
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Fecha Ingreso
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Cliente
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Cantidad Productos
                    </th>
                   

                    <th scope="col" class="px-6 py-3">
                        Observaciones
                    </th>

                    <th scope="col" class="px-6 py-3">
                        Ver
                    </th>

                    <th scope="col" class="px-6 py-3">
                        Eliminar
                    </th>


                </tr>
            </thead>
            <tbody>
                {% for cotization in cotizations %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{cotization.date}}
                    </th>
                    <td class="px-6 py-4">
                        {{cotization.customer}}
                    </td>
                    <td class="px-6 py-4">
                        {{cotization.numberOfProducts}}
                    </td>
                    
                    <td class="px-6 py-4">
                        {{cotization.observations}}
                    </td>

                    <td class="px-5 py-2">
                  
                    <button onclick="openmodal('{{cotization.cotization_id}}')"  class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
                    Ver Productos
                    </button>
              
                    </td>

                    <td class="px-5 py-2">
                        
                        <a href="{% url 'deletecotization' cotization_id=cotization.cotization_id %}">
                        <button class="block text-white bg-red-500 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
                        Eliminar Oferta
                        </button>
                    </a>

                        </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>

      <!-- Modal toggle -->
        <div id="modal-div">
            <div id="static-modal">

            </div>

        </div>
  
    
    </div>

</div>

<!-- Modal toggle -->
<script >


var modalDiv = $("#modal-div")
function openmodal(cotization_id) {

    console.log('cotizationId in modal is',cotization_id)

    request_url = '/modal/' + cotization_id + '/';

    $.ajax({
    url: request_url,
    success: function(data){

        $("#modal-div").html(data);
      $("#static-modal").show();
    //     console.log('data.product',data.product)
    // let barcode = data.product[0][0]
    // let internalCode = data.product[0][1]
    //  console.log(barcode)

    //  console.log(internalCode)
    //  console.log('form_count is', form_count)
    // $(`#barcode_${form_count -1}`).val(barcode)
    // $(`#internalcode_${form_count -1 }`).val(internalCode)

    console.log(data)
//             $('productname').attr('')
}
});

}


</script>

{% endblock content %}