{% extends "_base.html" %}


<head>
  {% load static %}
  
  </head>


{% block content %}


<div class="bg-gray-100 min-h-screen flex items-center justify-center p-4">

    <div class="bg-blue-100 w-full max-w-6xl h-auto min-h-[80vh] sm:min-h-[90vh] p-4 sm:p-8 rounded-lg shadow-lg">
        <img src="https://filsa.s3.amazonaws.com/logo.jpg" class="h-20 w-20 sm:h-32 sm:w-32 mx-auto mb-4 sm:mb-6" alt="Filsa Logo" />

        <h1 class="text-center mb-4 sm:mb-6 text-2xl sm:text-4xl md:text-5xl lg:text-6xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">Bienvenido</h1>

        <img class="xl:w-1/2 w-full h-auto max-h-[40vh] sm:max-h-[30vh] object-cover rounded-lg mx-auto" src="https://filsa.s3.amazonaws.com/filsaback.jpeg" alt="image description">
    </div>

</div>



{% endblock %}

