{% extends '_base.html' %}

<head>
{% load static %}

</head>

{% block content %}


<!-- sm:col-span-2 -->
<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-2xl lg:py-8">
        <h1 class="flex mb-8 text-2xl sm:px-16 xl:px-15 font-extrabold leading-none tracking-tight text-gray-900 md:text-3xl lg:text-4xl dark:text-white">Solicitud Ingreso de Nuevos Productos</h1>
        <form id="forms" action="{% url 'inbound' %}" method="POST" onsubmit="openLoader()">
            {% csrf_token %}

                {{form.extra_field_count}}
                
            <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
                <!-- <div>
                    <label for="productname" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{form.product.label_tag}}</label>
                      <<select  name="productname" id="productname" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"> 
                      
                         <option value="Seleccionar Producto" selected="selected"></option> 
                    </select> 
                    {{form.product}} 
                    </div> -->
                <div>
                    <label for="brand" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Depósito</label>
                    {{form.warehouse}}
                    <!-- <input type="date" name="date" id="date" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Ingresar Fecha" required="">
                     -->
                       
                    </div>
                <!-- <div class="w-full">
                    <label for="price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Código de Barras</label>
                     <input type="number" name="barcode" id="barcode" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="$2999" required=""> 
                       
                </div> -->
                <div>
                    <label for="motivoIngreso" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Motivo Ingreso</label>
                    {{form.motivoIngreso}}
                </div>
                <!-- <div>
                    <label for="item-weight" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Código Interno</label>
                     <input type="number" name="internal-code" id="internal-code" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="12" required=""> 
                 
                </div>  -->
                <div>
                    <label for="motivoIngreso" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Departamento</label>
                    {{form.department}}
                </div>

                <div>
                    <label for="receptor" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Receptor</label>
                    {{form.receptor}}

                   
                </div>

                <div>
                    <label for="receptor" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Solicitante</label>
                    {{form.issuer}}

                   
                </div>

                <div>
                    <label for="date" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha</label>
                    {{form.date}}

                   
                </div>

            </div>

                
            <div class="max-w-4xl mt-10">
            <table id="productTable" class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-green-100 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col-span-2" class="px-6 py-3">
                            Producto
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Código de Barras                    
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Código Interno
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Cantidad
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                         
                           
                             <label for="productname" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                            <input type="text" id="productname" +   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="John" required> 
                            
                        
                        </th>
                        <td class="px-6 py-4">
                            <input type="text" id="barcode" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="John" required>
                        </td>
                        <td class="px-6 py-4">
                            <input type="text" id="internal-code" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="John" required>
                        </td>
                        <td class="px-6 py-4">
                            {{form.cantidad}}
                        </td>

                        

                    </tr> -->
                 
                </tbody>
             
            </table>
            <td class="px-6 py-4">
                <button  id="add-product" class="inline-flex items-center px-3 py-1.5 mt-2 sm:mt-6 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                    Add New Product
                 </button>

                 <button  id="remove-product" class="inline-flex items-center px-3 py-1.5 mt-2 sm:mt-6 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                    Remove Product
                 </button>

            </td>
        </div>

        <div id="loader" role="status" style="display: none;">
            <svg aria-hidden="true" class="w-8 h-8 mx-auto text-gray-200 animate-spin dark:text-gray-600 fill-green-500" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
            </svg>
            <span class="sr-only">Loading...</span>
        </div>

        <div class="sm:col-span-2">
            <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Observaciones</label>
            <textarea id="description" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Your description here"></textarea>
        
        </div>
            
            
            <button type="submit" id='nuevoIngreso' class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                Confirma Solicitud Ingreso
            </button>

        </div>
           
        </form>
    </div>


  </section>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/datepicker.min.js"></script>


<script>

let form_count = Number($("[name=extra_field_count]").val());
console.log('form_count is ', form_count)
$("#add-product").click(function(event) {
    
    event.preventDefault()
// get extra form count so we know what index to use for the next item
    console.log(event.target.value)
   
    var table = document.getElementById('productTable')
    var lastRow = table.rows[ table.rows.length - 1 ];
    var product = lastRow.cells[0].firstElementChild
    var quantity = lastRow.cells[3].firstElementChild
    
    console.log('product first Round', product)
    console.log('quantity first Round', quantity)


    if (form_count >0) {
        console.log('form_count', form_count)

        var table = document.getElementById('productTable')
    var lastRow = table.rows[ table.rows.length - 1 ];
    var product = lastRow.cells[0].firstElementChild.value
    var quantity = lastRow.cells[3].firstElementChild.value
    
    console.log('product second Round', product)
    console.log('quantity second Round', quantity)

    if (product === '') {

        alert('Ingresar un Nuevo Producto')
        return
    }

    if (quantity === '') {

    alert('Ingresar la cantidad comprada del Producto')
            return
    }

    }


    var newRow = document.getElementById('productTable').insertRow();

    
    var newCell = newRow.insertCell();

    
    newCell.innerHTML=  `<tr><td><input type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" type="text" id="productname_${form_count}" name="product_${form_count}" placeholder="producto" required></td></tr>`;

    newCell = newRow.insertCell();
    newCell.innerHTML=`<tr><td><input type="number" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" type='text' id="barcode_${form_count}" name="barcode_${form_count}" placeholder="barcode"></td></tr>`;

    newCell = newRow.insertCell();
    newCell.innerHTML=`<tr><td><input type="number" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" type='text' id="internalcode_${form_count}" name="internalCode_${form_count}" placeholder="internalCode" required></td></tr>`;

    newCell = newRow.insertCell();
    newCell.innerHTML= `<tr><td><input type = "number" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" type='text' id="cantidad_${form_count}" name="cantidad_${form_count}" placeholder="cantidad" required></td></tr>`; 

    $(`#productname_${form_count}`).autocomplete({
        source: '{% url "autocomplete-name" %}',
        minLength:1,
        select: function(event, ui) {
                    //  console.log(ui)
                 $(`#productname_${form_count}`).val(ui.item.value)

                let product = ui.item.value
                console.log('product',product)
                var dataLS = JSON.parse(localStorage.getItem('products'))

                // console.log('dataLS', dataLS)

                // console.log('productSelected', dataLS[String(product)])

                var productId = dataLS[product]

                console.log('productId',productId)

                request_url = '/product/' + productId + '/';
                $.ajax({
                    url: request_url,
                    success: function(data){
                        console.log('data.product',data.product)
                    let barcode = data.product[0][0]
                    let internalCode = data.product[0][1]
                     console.log(barcode)

                     console.log(internalCode)
                     console.log('form_count is', form_count)
                    $(`#barcode_${form_count -1}`).val(barcode)
                    $(`#internalcode_${form_count -1 }`).val(internalCode)
//             $('productname').attr('')
           }
        });

    }})

$(`#internalcode_${form_count}`).autocomplete({
        source: '{% url "autocomplete-name" %}',
    
        minLength: 2,
        select: function(event, ui) {
                      console.log(ui)
                      console.log('event is',event)
                 $(`#internalccode_${form_count}`).val(ui.item.value)

                let code = ui.item.value
                console.log('code', code)
                var dataLS = JSON.parse(localStorage.getItem('codes'))

                // console.log('dataLS', dataLS)

                // console.log('productSelected', dataLS[String(product)])

                var productId = dataLS[code]

                console.log('productId',productId)

                request_url = '/product/' + productId + '/';
                $.ajax({
                    url: request_url,
                    success: function(data){
                        console.log('data.codes',data.codes)
                    let barcode = data.product[0][0]
                    let product = data.product[0][2]
                     console.log(barcode)

                     console.log(product)
                     console.log('form_count is', form_count)
                    $(`#barcode_${form_count -1}`).val(barcode)
                    $(`#productname_${form_count -1 }`).val(product)
//             $('productname').attr('')
           }
        });

    }})

    form_count ++;
    $("[name=extra_field_count]").val(form_count);

})

$("#remove-product").click(function(event) {

    event.preventDefault()
    var table = document.getElementById('productTable')
    var lastRow = table.rows[ table.rows.length - 1 ];


    lastRow.remove()
    form_count --;
    $("[name=extra_field_count]").val(form_count);

})




//     console.log('hola hola')
   $.ajax({
            url: `/products/`,
        type: 'get', 
        success: function(data) {
            // console.log(data.products)

            // console.log('llega aca')

            // console.log(data.products)

            localStorage.setItem('products', JSON.stringify(data.products))
            localStorage.setItem('codes', JSON.stringify(data.codes))
            localStorage.setItem('warehouses', JSON.stringify(data.warehouses))
            localStorage.setItem('categories', JSON.stringify(data.categories))
            localStorage.setItem('supplier', JSON.stringify(data.supplier))
          //  for (let i = 0 ; i< data.products.length ; i++) {
               
          //  $("#productname").append(`<option value=${data.products[i][0]}>`+ data.products[i][1] +'</option>');

        }
    })
    

function openLoader() {
    document.getElementById("loader").style.display = "block";
  }


</script>

{% endblock content %}