{% extends '_base.html' %}

<head>
{% load static %}

</head>

{% block content %}
<!-- sm:col-span-2 -->
<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
        <h1 class="flex mb-4 text-2xl sm:px-16 font-extrabold leading-none tracking-tight text-gray-900 md:text-3xl lg:text-4xl dark:text-white">{{title}}</h1>
       
        
            <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
              
                <div>
                    <label for="brand" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha Solicitud</label>
                  
                     <!-- <input type="date" name="date" id="date" value="{task.date}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Ingresar Fecha" disabled>
                      -->
                     <div class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">{{task.date}}</div>
                </div>
                    

                    <div>
                        <label for="brand" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha de Entrega</label>
                      
                        <!-- <input type="date" name="date" id="date" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Ingresar Fecha" required="">
                         -->
                         <div class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">{{task.deliveryDate}}</div>
                        
                    </div>
                <!-- <div class="w-full">
                    <label for="price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Código de Barras</label>
                    <input type="number" name="barcode" id="barcode" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="$2999" required="">
                </div> -->
                <div>
                    <label for="solicitante" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Solicitante</label>
                    
                    <div class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"> {{task.issuer.email}} </div>
                </div>

                <div>
                    <label for="receptor" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Receptor</label>
                    
                    <div class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"> {{task.receptor.email}} </div>
                                            
                </div>

                <!-- <div>
                    <label for="item-weight" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Código Interno</label>
                    <input type="number" name="internal-code" id="internal-code" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="12" required="">
                </div>  -->

                <div>
                    <label for="receptor" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Motivo de Solicitud</label>
                    <div class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"> {{task.motivoEgreso}} </div>
                </div>

                <div>
                <label for="departamento" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Departamento</label>
                    
                <div class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"> {{task.department}} </div>
        
                </div>

                <div>
                    <label for="departamento" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Depósito</label>
                        
                    <div class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">{{task.warehouseProduct.name}}</div>
                    </div>
                                
                </div>

                <div class="py-8">          
                    <table id="productTable" class="py-8 px-4 max-w-4xl lg:py-16 text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                       <thead class="text-xs text-black uppercase bg-green-500 dark:bg-gray-700 dark:text-gray-400">
                           <tr>
                               
                               <th scope="col" class="px-6 py-3">Producto</th>
                               <th scope="col" class="px-6 py-3">Cantidad</th>
                               <th scope="col" class="px-6 py-3">Cantidad Neta</th>
                           </tr>
                       </thead>
                       <tbody>
                        <!-- {{ forloop.counter0 }} -->
                          
                           {% for product in task.stockmovements_set.all %}
                           {% if  product.actionType == 'Confirma Egreso' %}
                         
                                <tr class="bg-gray-200 border-b dark:bg-gray-800 dark:border-gray-700">
                                   <td class="w-1/2"><input type="text" name="producto_{{ forloop.counter0 }}" value="{{product.warehouseProduct.product.name}}"  class="bg-gray-150 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  id="" name="" placeholder="" disabled></td>
                                   <td class="px-6 py-4"><input type="number" name="cantidad_{{ forloop.counter0 }}" value="{{product.cantidad}}"  class="bg-gray-150 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="" name="" placeholder="" disabled></td>             
                                       <!-- <td class="px-6 py-4" name="producto_{{ forloop.counter0 }}" value="{{product.product.name}}">{{product.product.name}}</td>
                                   <td class="px-6 py-4" name="cantidad_{{ forloop.counter0 }}" value="{{product.cantidad}}">{{product.cantidad}}</td> -->
                                   <td class="px-6 py-4"><input type="number" name="cantidadNeta_{{forloop.counter0}}" value="{{product.cantidadNeta}}" class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="" name="" placeholder="" disabled></td>
                               </tr>
                           
                           {% endif %}

                           {% endfor %}  
                            <!-- {% for product in form.get_products_fields %}
                                  {{product}}
                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                
                                   <td class="px-6 py-4" name="producto_{{ forloop.counter0 }}">{{ product }}</td>
                                   <td class="px-6 py-4" name="cantidad_{{ forloop.counter0 }}">{{ product }}</td>
                                   <td class="px-6 py-4"><input type="number" name="cantidadNeta_{{forloop.counter0}}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" type="text" id="" name="" placeholder="" required></td>
                               </tr>
                               {% endfor %}  -->
                       </tbody>
                   </table> 
               </div>

          
               <div class="sm:col-span-2">
                <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Observaciones Solicitud</label>
                
                <div class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">{{task.observationsSolicitud}}</div>
                
                <!-- <textarea id="description" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Your description here"></textarea> -->
            </div>
            
                <div class="sm:col-span-2">
                    <label for="description" class="block mb-2 mt-4 text-sm font-medium text-gray-900 dark:text-white">Observaciones Entrega</label>
                    
                    <div class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">{{task.observationsConfirma}}</div>
                    
                </div>
            

            <a href="{% url 'tasks' %}" ><button type="submit" class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
            Volver a Tareas
            </button></a>
       
    </div>

    {% if form.errors %}
    <div class="alert alert-danger">
        {{ form.errors }}
    </div>
{% endif %}
  </section>


 
  <script>

    let form_count = Number($("[name=extra_field_count]").val());
    
    $('#productsreception').submit(function(e) {
    
       // e.preventDefault()
    
        var table = document.getElementById('productTable')
        
        form_count = table.rows.length -1;
    
        console.log('form_count', form_count)
        $("[name=extra_field_count]").val(form_count);
    })
        
    
        
    
        </script>
    
  {% endblock content %}
