{% extends '_base.html' %}
{% load grouptag %}
{% load static %}

<head>
    
</head>

{% block content %}

<div class="flex flex-col min-h-screen">
    <div class="flex-grow">
        

<div class="inline-flex items-center grid grid-cols-4 gap-2 sm:ml-20 lg:ml-5 py-2 px-8 max-w-2xl lg:py-8">
    <!-- <button id="dropdownCheckboxProductButton" data-dropdown-toggle="dropdownProductCheckbox" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">Productos<svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
        </svg>
        </button> -->
       
        
        <button id="dropdownSearchButton" data-dropdown-toggle="dropdownSearch" data-dropdown-placement="bottom" class="mt-4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 inline-flex focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">Productos <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
            </svg>
            </button>

        <div id="dropdownSearch" class="z-10 hidden bg-white rounded-lg shadow w-60 dark:bg-gray-700">
            <div class="p-3">
              <label for="input-group-search" class="sr-only">Search</label>
              <div class="relative">
              
                <input type="text" id="input-group-search-product" class="block w-full p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Nombre del Producto">
                <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                      </svg>
                </div>
                <input type="number" id="input-group-search-code" class="block w-full mt-2 p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Codigo del Producto">
                  <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                      </svg>
                </div>
            </div>
            </div>

        <!-- Dropdown menu -->
        <ul class="h-48 px-3 pb-3 overflow-y-auto text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownSearchButton">
            <li>
              <div class="flex items-center ps-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                <input id="checkbox-item-11" type="checkbox" value="" onclick="checkboxstate()" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                <label for="checkbox-item-11" class="w-full py-2 ms-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">Total Productos</label>
              </div>
            </li>
     
</div>
{% csrf_token %}
        <div class="lg:ml-5 block inline-flex">
        <form method='GET' action="{% url 'stock' %}"  id='filters' class="ml-5 sm:ml-3 sm:block lg:inline-flex">
         
            <div>
                <label for="brand" class="block mb-1 text-center text-sm font-medium text-gray-900 dark:text-white">Depósito</label>
            {{ filterset.form.name }}
        </div>

        <div>
        <label for="brand" class="block mb-1 text-center text-sm font-medium text-gray-900 dark:text-white"> Proveedor </label>
        {{filterset.form.supplier }}
        
    </div>

        <div>

            <label for="brand" class="block mb-1 text-center text-sm font-medium text-gray-900 dark:text-white">Categoría</label>
            {{ filterset.form.category }}
        </div>
           
        <div>
            <label for="location" class="block mb-1 text-center text-sm font-medium text-gray-900 dark:text-white">Ubicación</label>
        {{ filterset.form.location }}
    </div>

           
       
            <button  class="mt-4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 inline-flex focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-2 py-1 text-center items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="submit" >Consultar</button>
         
            
          
            </form>

            <div class="sm:mt-4 sm:block lg:inline-flex">
            <a href="{% url 'excel-export' dimension='deposit' %}" >
                <button type="button" value="deposit" name='exportproducts' id="exportproducts" class="ml-5 mb-2 sm:ml-5 px-4 text-white inline-flex items-center bg-green-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                <svg class="w-6 h-6 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M14.707 7.793a1 1 0 0 0-1.414 0L11 10.086V1.5a1 1 0 0 0-2 0v8.586L6.707 7.793a1 1 0 1 0-1.414 1.414l4 4a1 1 0 0 0 1.416 0l4-4a1 1 0 0 0-.002-1.414Z"/>
                    <path d="M18 12h-2.55l-2.975 2.975a3.5 3.5 0 0 1-4.95 0L4.55 12H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2Zm-3 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"/>
                  </svg>
                  Stock Deposito</button>
            </a>

            
            <a href="{% url 'excel-export' dimension='all' %}" >
                <button type="button" value="deposit" name='exportproducts' id="exportproducts" class="ml-5 sm:ml-5 px-4 text-white bg-green-700 inline-flex items-center hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                <svg class="w-6 h-6 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M14.707 7.793a1 1 0 0 0-1.414 0L11 10.086V1.5a1 1 0 0 0-2 0v8.586L6.707 7.793a1 1 0 1 0-1.414 1.414l4 4a1 1 0 0 0 1.416 0l4-4a1 1 0 0 0-.002-1.414Z"/>
                    <path d="M18 12h-2.55l-2.975 2.975a3.5 3.5 0 0 1-4.95 0L4.55 12H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2Zm-3 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"/>
                  </svg>
                  Stock Total
                </button>
                
            </a>
            </div>
            
           
    </div>
        </div>

<!-- sm:col-span-2 -->
<div class="w-full px-4 relative overflow-x-auto">
    
          
    <table  id="productTable" class="py-8 px-4 lg:py-16 text-base text-left rtl:text-right text-gray-500 dark:text-gray-400 border border-gray-300 dark:border-gray-700">
        <thead class="text-xs text-gray-700 uppercase bg-gray-200 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-3 py-2">
                    Product name
                </th>
                <th scope="col" class="px-2 py-2">
                    <div class="flex items-center">
                        Código de Barras
                        <!-- <a href="#"><svg class="w-3 h-3 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
    <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
  </svg></a> -->
                    </div>
                </th>
                <th scope="col" class="px-3 py-2">
                    <div class="flex items-center">
                        Código Interno
                        <!-- <a href="#"><svg class="w-3 h-3 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
    <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
  </svg></a> -->
                    </div>
                </th>
    {% if user.groups.all.0.name.strip == "Administrador"  or user.groups.all.0.name.strip == "Comercial" %}
           
                <th scope="col" class="px-3 py-2">
                    <div class="flex items-center">
                        Precio(USD)
                        <!-- <a href="#"><svg class="w-3 h-3 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
    <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
  </svg></a> -->
                    </div>
                </th>     
                {% endif %}       
                {% if 'name' in request.GET %}
                <th scope="col" class="px-3 py-2">
                    <div class="flex items-center">
                        Ubicacion
                        <!-- <a href="#"><svg class="w-3 h-3 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
    <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
  </svg></a>
                    </div> -->
                </th>
                {% endif %}

                <th scope="col" class="px-3 py-2">
                    <div class="flex items-center">
                        Categoría
                        <!-- <a href="#"><svg class="w-3 h-3 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
    <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
  </svg></a> -->
                    </div>
                </th>
                <th scope="col" class="px-3 py-2">
                    <div class="flex items-center">
                        Proveedor
                        <!-- <a href="#"><svg class="w-3 h-3 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
    <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
  </svg></a> -->
                    </div>
                </th>

                <th scope="col" class="px-3 py-2">
                    <div class="flex items-center">
                        Cantidad
                        <!-- <a href="#"><svg class="w-3 h-3 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
    <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
  </svg></a> -->
                    </div>
                </th>
                
                <th scope="col" class="px-3 py-2">
                    <div class="flex items-center">
                        Stock Seguridad
                        <!-- <a href="#"><svg class="w-3 h-3 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
    <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
  </svg></a> -->
                    </div>
                </th>

                <th scope="col" class="px-3 py-2">
                    <div class="flex items-center">
                    <span>Ver Movimientos</span>
                </div>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for product in object_list %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                {% if 'name' in request.GET or 'supplier' in request.GET or 'category' in request.GET %}
                
             
                {{product.product.name}}
                
                {% else %}
                
                {{product.name}}
                
                {% endif %}

                </th>
                <td class="px-3 py-2">
                {% if 'name' in request.GET or 'supplier' in request.GET or 'category' in request.GET %}
                
                {{product.product.barcode}}
                {% else %}
                
                {{product.barcode}}
                    
                {% endif %}
                
                </td>
                <td class="px-3 py-2">
                
                {% if 'name' in request.GET or 'supplier' in request.GET or 'category' in request.GET %}
             
                {{product.product.internalCode}}

                {% else %}
                
                {{product.internalCode}}
                    
                {% endif %}
                

                </td>
            {% if user.groups.all.0.name.strip == "Administrador"  or user.groups.all.0.name.strip == "Comercial" %}

                <td class="px-3 py-2">
                    {% if 'name' in request.GET or 'supplier' in request.GET or 'category' in request.GET %}                 
                    {{product.product.price}}
                        {% else %}               
                    {{product.price}}
                    {% endif %}
                    </td>
                    {% endif %}
            {% if 'name' in request.GET %}  
            <td class="px-3 py-2">  
                {{product.location}}
            </td>
            {% endif %}

            
            <td class="px-3 py-2">
            
                {% if 'name' in request.GET or 'supplier' in request.GET or 'category' in request.GET %}
             
                {{product.product.category}}
                
                {% else %}
                
                {{product.category}}
                    
                {% endif %}
                

                </td>

                <td class="px-3 py-2">
                {% if 'name' in request.GET or 'supplier' in request.GET or 'category' in request.GET %}
             
                {{product.product.supplier}}
                
                {% else %}
                
                {{product.supplier}}
                    
                {% endif %}


                </td>

                
                <td class="px-3 py-2">
                {% if 'name' in request.GET or 'supplier' in request.GET or 'category' in request.GET %}
             
                {{product.quantity}}

                {% else %}
                
                {{product.quantity}}
                    
                {% endif %}
                
                </td>

                <td class="px-3 py-2">
                    {% if 'name' in request.GET or 'supplier' in request.GET or 'category' in request.GET %}
             
                    {{product.product.stockSecurity}}
                    
                    {% else %}
                    
                    {{product.stockSecurity}}
                        
                    {% endif %}
                
                
                </td>
                <td class="px-3 py-2">
                    <a href="{% url 'stockhistory' product_id=product.product_id %}"   class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Movimientos</a>
                </td>
            </tr>
            {% endfor %}
           
        </tbody>
<!-- 
         <div id="pagination-filter">
            {% if page_obj.has_previous %}
            <a href="?page=1" &laquo; class="text-white bg-green-400 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-1.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" >first</a>
            
            <a href="?page={{ page_obj.previous_page_number }}" class="text-white bg-green-400 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-1.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">previous</a>
        
               
            {% endif %}
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
        
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="text-white bg-green-400 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-1.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class=" text-white bg-green-400 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-1.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">last &raquo;</a>
        {% endif %} -->
       
    </table>
</div>
    </div>

    <div id="pagination" class = "px-4 relative mt-6">
    <ul class="inline-flex -space-x-px text-sm">
    {% if is_paginated %}
    {% if page_obj.has_previous %}
      <a href="?{% param_replace page=1 %}" class="text-white bg-green-400 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-2 h-8 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" >Primera</a>
      {% if page_obj.previous_page_number != 1 %}
        <a href="?{% param_replace page=page_obj.previous_page_number %}" class="text-white bg-green-400 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-2 h-8 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" >Anterior</a>
      {% endif %}
    {% endif %}
        
  


        {% if page_obj.number|add:'-10' > 1 %}
        <li><a href="?{% param_replace page=page_obj.number|add:'-11' %}" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">&hellip;</a></li>
        {% endif %}

    {% for i in paginator.page_range %}

        {% if  page_obj.number == i %}

        <li>
            <a href="#" aria-current="page" class="z-10 flex items-center justify-center px-3 h-8 leading-tight text-blue-600 border border-blue-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">{{i}}</a>
          </li>
        
        {% elif i > page_obj.number|add:'-12' and i < page_obj.number|add:'12' %}
         
        <li>
            <a href="?{% param_replace page=i %}" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{i}}</a>
          </li>
        {% endif %}

       
          {% endfor %}
        
    {% if page_obj.paginator.num_pages > page_obj.number|add:'10' %}
          
    <li><a href="?{% param_replace page=page_obj.number|add:'11' %}" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">&hellip;</a></li>

    {% endif %}
    
    Pagina {{ page_obj.number }} de {{ paginator.num_pages }}
  
    {% if page_obj.has_next %}
      {% if page_obj.next_page_number != paginator.num_pages %}
        <a href="?{% param_replace page=page_obj.next_page_number %}" class="text-white bg-green-400 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-2 h-8 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" >Siguiente</a>
      {% endif %}
      <a href="?{% param_replace page=paginator.num_pages %}" class="text-white bg-green-400 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-2 h-8 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" >Ultima</a>
    {% endif %}
</ul>
    <p>Productos {{ page_obj.start_index }}—{{ page_obj.end_index }}</p>
  {% endif %}
</div>
</div>
  <hr>



  <script>

var checkbox = $('#checkbox').is(':disabled')

function getAllProducts() {
request_url = "{% url 'filterproducts' %}"  //+ warehouse_filter + '/' + category_filter + '/' + supplier_filter + '/';
$.ajax({
    type: "GET",
    data: {
        'checkbox' : true, 
    },
    
    url: request_url,
    success: function(data){

        
        console.log('data in hmtl',data.html_table)
        $('#pagination').empty()

        $(`#supplier`).val('')
        $(`#categoria`).val('')
        $(`#deposito`).val('')
        
        $('#productTable').html(data.html_table);

}}
)
}


function checkboxstate(){

    var checkbox = document.getElementById('checkbox-item-11').checked
console.log('checkbox is', checkbox)

if (checkbox === true) {
    getAllProducts()
}


}

let product_code_list = []
let product_name_list = []

$(`#input-group-search-product`).autocomplete({
        source: '{% url "autocomplete-name" %}',
        minLength:1,
        select: function(event, ui) {
                      console.log('ui is', ui)

                      console.log('ui.item.value is', ui.item.value)
                 $(`#input-group-search`).val(ui.item.value)

                let product = ui.item.value
                console.log('product',product)
                product_name_list.push(product)
                $('#pagination').empty()
                getProductData(product_code_list, product_name_list, code=false)

                
        }})

        
$(`#input-group-search-code`).autocomplete({
        source: '{% url "autocomplete-name" %}',
        minLength:1,
       
        select: function(event, ui) {
                      console.log('ui is', ui)

                      console.log('ui.item.value is', ui.item.value)
                 $(`#input-group-search`).val(ui.item.value)

                let product = ui.item.value
                console.log('product',product)
                product_code_list.push(product)
               // getProductData(product,code=true)
               getProductData(product_code_list, product_name_list, code=true)
               $('#pagination').empty()
               $(`#input-group-search-code`).val('')

        }})

//function filterData() {
    let warehouse_filter = '';
 let category_filter = '';
 let supplier_filter= '';

//  $('#filters').change(function(e) {

 // var warehouse_filter =   $('#deposito').val()
 console.log(this.value)

 $('#deposito').change(function() { 
    console.log(this.value)
    warehouse_filter = this.value;
    
 //   getData(warehouse_filter,category_filter,supplier_filter)
})

$('#categoria').change(function() { 
    console.log(this.value)
 category_filter = this.value;
// getData(warehouse_filter,category_filter,supplier_filter)
})

$('#supplier').change(function() { 
    console.log(this.value)
 supplier_filter = this.value;

// getData(warehouse_filter,category_filter,supplier_filter)
})

 var token = $("input[name=csrfmiddlewaretoken]").val()

 console.log('token is', token)

function getProductData(productsbycode, productsbyname, code) {

//console.log('product list in getProductData is', product)
//console.log('code is',code)
//var json_products = JSON.stringify(product)
request_url = "{% url 'filterproducts' %}"  //+ warehouse_filter + '/' + category_filter + '/' + supplier_filter + '/';

$.ajax({
    // type: "GET",
    url: request_url,
    type: "POST",
    
    data: {'arrcodes[]': product_code_list,
    'arrnames[]': product_name_list, 
    'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val(),
    'code':code
},
    success: function(data){

        console.log('data is', data)
       //  $('#pagination').empty()
        console.log('data in hmtl',data.html_table)
    $('#productTable').html(data.html_table);
    console.log(data.html_table.context)

    $(`#input-group-search-product`).val('');
    $(`#input-group-search-code`).val('');

}}
)
}
 

function getData(warehouse_filter,category_filter,supplier_filter) {
request_url = "{% url 'filterproducts' %}"  //+ warehouse_filter + '/' + category_filter + '/' + supplier_filter + '/';
$.ajax({
    type: "GET",
    datatype:'json',
    data: {
        'warehouse' : warehouse_filter,
         'category' : category_filter,
         'supplier' : supplier_filter,
    },
    url: request_url,
    success: function(data){
         $('#pagination').empty()
    $('#productTable').html(data.html_table);

}}
)
 
}

    </script>

  {% endblock content %}
