{% extends '_base.html' %}

<head>
{% load static %}
</head>

{% block content %}

<!-- sm:col-span-2 -->
<div class="w-full px-4 relative overflow-x-auto mt-10 sm:rounded-lg">
    <table class="py-8 px-4 mx-auto max-w-2xl lg:py-16 text-base text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-base text-gray-700 uppercase bg-gray-200 dark:bg-gray-700 dark:text-gray-400">
            <tr class="text-center">
                <th scope="col" class="px-6 py-3">
                    Fecha
                </th>
                <th scope="col" class="px-6 py-3">
                    <div class="flex items-center">
                        Solicitante
                        <!-- <a href="#"><svg class="w-3 h-3 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
    <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
  </svg></a> -->
                    </div>
                </th>
                <th scope="col" class="px-6 py-3">
                    <div class="flex items-center">
                        Departmento
                        <!-- <a href="#"><svg class="w-3 h-3 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
    <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
  </svg></a> -->
                    </div>
                </th>
                <th scope="col" class="px-6 py-3">
                    <div class="flex items-center">
                        Tipo de Tarea
                        <!-- <a href="#"><svg class="w-3 h-3 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
    <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
  </svg></a> -->
                    </div>
                </th>

                <th scope="col" class="px-6 py-3">
                    <div class="">
                        Receptor
                        <!-- <a href="#"><svg class="w-3 h-3 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
    <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
  </svg></a> -->
                    </div>
                </th>
                <th scope="col" class="px-6 py-3">
                    <div class="">
                        Status
                        <!-- <a href="#"><svg class="w-3 h-3 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
    <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
  </svg></a> -->
                    </div>
                </th>
                <th scope="col-span-2" class="px-6 py-3">
                    <div class="">
                        Acción
                       
                    </div>
                </th>
              
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}

            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{task.date}}
                </th>
                <td class="px-6 py-4">
                    {{task.issuer}}
                </td>
                <td class="px-6 py-4">
                    {{task.department}}
                </td>
                <td class="px-6 py-4">
                    {{task.actionType}}
                
                </td>

                <td class="px-6 py-4">
                    {{task.receptor}}
                
                </td>

                    {% if task.status == 'Pending' %}
                    <td class="px-6 py-4 text-center">
                        <span class="bg-yellow-100 text-yellow-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300">{{task.status}}</span>
                    </td>
                    {% elif task.status == 'Confirmed' %}
                    
                    <td class="px-6 py-4 text-center">
                    <span class="bg-green-100 text-green-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">{{task.status}}</span>
                    
                     {% elif task.status == 'Cancelled' %}
                    
                    <td class="px-6 py-4 text-center">
                    <span class="bg-red-100 text-red-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-red-300">{{task.status}}</span>
                        
                </td>
                
                {% endif %}   
                {% if task.actionType == 'Nuevo Egreso' and task.status == 'Pending' %}
                <td class="w-full block items-center px-4 py-4"> 
                    <a href="{% url 'outbounddelivery' requested_id=task.task_id %}"  class="w-full mr-0 mb-5 text-center text-blue-600 dark:text-blue-500 hover:underline">
                    <span class="block space-x-4 bg-green-100 text-green-800 text-sm font-medium mr-0 p-0.5 mb-5 rounded dark:bg-green-900 dark:text-green-300">Confirmar</span></a>
                    <a href="{% url 'editdeliverytask' requested_id=task.task_id %}"  class="w-full mb-5 text-center mb-4 text-black-400 dark:text-blue-500 hover:underline">
                    <span class="block space-x-4 bg-blue-200 text-blue-800 text-sm font-medium mr-0 p-0.5 mb-5 rounded dark:bg-blue-200 dark:text-red-300">Editar</span></a>                
                    <button data-modal-target="popup-modal-{{task.task_id}}" data-modal-toggle="popup-modal-{{task.task_id}}" class="w-full space-x-4 bg-red-100 text-red-800 text-sm font-medium mr-0 p-0.5 mb-5 rounded dark:bg-red-900 dark:text-red-300" type="button">
                        <!-- <span class="block space-x-4 bg-red-100 text-red-800 text-sm font-medium mr-0 p-0.5 mb-5 rounded dark:bg-red-900 dark:text-green-300"> Cancelar</span>  -->
                        Cancelar 
                        </button>                   

                    <!-- <a href="{% url 'canceltask' requested_id=task.task_id %}"  class="w-full text-center font-medium text-blue-600 dark:text-blue-500 hover:underline">
                    <span class="block space-x-4 bg-red-100 text-red-800 text-sm font-medium mr-0 p-0.5 rounded dark:bg-red-900 dark:text-red-300">Cancelar</span></a>                         -->
                </td>

                {% elif task.actionType == 'Confirma Egreso' and task.status == 'Confirmed'  or  task.actionType == 'Nuevo Egreso' and task.status == 'Cancelled' %}
                <td class="px-6 py-4 text-center">
                    <a href="{% url 'outboundconfirmed' requested_id=task.task_id %}"  class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Ver</a>
                </td>

                {% elif task.actionType == 'Nuevo Ingreso' and task.status == 'Pending' %}
                <td class="px-6 py-4 text-center">
                    <a href="{% url 'inboundreception' requested_id=task.task_id %}"  class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                        <span class="block space-x-4 bg-green-100 text-green-800 text-sm font-medium mr-0 p-0.5 mb-5 rounded dark:bg-green-900 dark:text-green-300">Confirmar</span></a>
                        <a href="{% url 'inboundedit' requested_id=task.task_id %}"  class="w-full mb-5 text-center mb-4 text-black-400 dark:text-blue-500 hover:underline">
                            <span class="block space-x-4 bg-blue-200 text-blue-800 text-sm font-medium mr-0 p-0.5 mb-5 rounded dark:bg-blue-200 dark:text-red-300">Editar</span></a>                                                   
                        
                        <button data-modal-target="popup-modal-{{task.task_id}}" data-modal-toggle="popup-modal-{{task.task_id}}" class="w-full space-x-4 bg-red-100 text-red-800 text-sm font-medium mr-0 p-0.5 mb-5 rounded dark:bg-red-900 dark:text-red-300" type="button">
                            Cancelar
                            </button> 
                
                    </td>

                {% elif task.actionType == 'Nuevo Ingreso' and task.status == 'Confirmed' or task.actionType == 'Nuevo Ingreso' and task.status == 'Cancelled'  %}
                <td class="px-6 py-4 text-center">
                    <a href="{% url 'inboundconfirmed' requested_id=task.task_id %}"  class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Ver</a>
                </td>

                {% elif task.actionType == 'Transferencia' and task.status == 'Pending' %}

                <td class="block items-center px-4 py-4"> 
                 
                    <a href="{% url 'transferreception' requested_id=task.task_id %}"  class="w-full mb-5 text-center font-medium text-blue-600 dark:text-blue-500 hover:underline">
                    <span class="block space-x-4 bg-green-100 text-green-800 text-sm font-medium mr-0 p-0.5 mb-5 rounded dark:bg-green-900 dark:text-green-300">Confirmar</span></a>
                    <a href="{% url 'transferedit' requested_id=task.task_id %}"  class="w-full mb-5 text-center mb-4 text-black-400 dark:text-blue-500 hover:underline">
                    <span class="block space-x-4 bg-blue-200 text-blue-800 text-sm font-medium mr-0 p-0.5 mb-5 rounded dark:bg-blue-200 dark:text-red-300">Editar</span></a>                                                   
                    <!-- <a href="{% url 'canceltask' requested_id=task.task_id %}"  class="w-full mb-5 text-center font-medium text-blue-600 dark:text-blue-500 hover:underline"> -->
                        <button data-modal-target="popup-modal-{{task.task_id}}" data-modal-toggle="popup-modal-{{task.task_id}}" class="w-full space-x-4 bg-red-100 text-red-800 text-sm font-medium mr-0 p-0.5 mb-5 rounded dark:bg-red-900 dark:text-red-300" type="button">
                            Cancelar
                            </button>
                    <!-- <span class="block space-x-4 bg-red-100 text-red-800 text-sm font-medium mr-0 p-0.5 mb-5 rounded dark:bg-red-900 dark:text-red-300">Cancelar</span></a>   -->
                </td>
                {% elif task.actionType == 'Confirma Transferencia' and task.status == 'Confirmed' or task.actionType == 'Transferencia' and task.status == 'Cancelled' %}
                <td class="px-6 py-4 text-center">
                    <a href="{% url 'transferconfirmed' requested_id=task.task_id %}"  class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Ver</a>
                </td>

                 {% endif %}   

                 <div id="popup-modal-{{task.task_id}}" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                    <div class="relative p-4 w-full max-w-md max-h-full">
                        <div class="relative bg-gray-300 rounded-lg shadow dark:bg-gray-700">
                            <button type="button" class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="popup-modal-{{task.task_id}}">
                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                </svg>
                                <span class="sr-only">Cerrar</span>
                            </button>
                            <div class="p-4 md:p-5 text-center">
                                <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                                </svg>
                                <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">¿Está seguro que desea eliminir esta Tarea?</h3>
                                <a href="{% url 'canceltask' requested_id=task.task_id  %}"><button    data-modal-hide="popup-modal-{{task.task_id}}" type="submit" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
                                    Si, eliminar
                                </button>
                            </a>
                                <button data-modal-hide="popup-modal-{{task.task_id}}" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">No, cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </tr>

         
            {% endfor %}

        </tbody>
    </table>

    
        
       
</div>

    {% if form.errors %}
    <div class="alert alert-danger">
        {{ form.errors }}
    </div>
{% endif %}
  </section>


  <script>


    </script>

  {% endblock content %}
