{% extends '_base.html' %}

<head>
{% load static %}

</head>

{% block content %}
<!-- sm:col-span-2 -->
<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-2xl lg:py-8">
        <h1 class="flex mb-8 text-2xl sm:px-16 xl:px-15 font-extrabold leading-none tracking-tight text-gray-900 md:text-3xl lg:text-4xl dark:text-white">Recepción Transferencia de Productos</h1>
        <form id ='productsreception' action="{% url 'transferreception' task_id %}" method="POST" onsubmit="openLoader()">
            {% csrf_token %}

            {{form.extra_field_count}}
            <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
              
                <div class="w-full">
                    <label for="brand" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{form.date.label_tag}}</label>
                  
                    <!-- <input type="date" name="date" id="date" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Ingresar Fecha" required="">
                     -->
                    {{form.date}}     
                    </div>
                <!-- <div class="w-full">
                    <label for="price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Código de Barras</label>
                    <input type="number" name="barcode" id="barcode" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="$2999" required="">
                </div> -->
                <div>
                    <label for="solicitante" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Solicitante</label>
                    
                            {{form.issuer}}
                    
                </div>

                <div>
                    <label for="solicitante" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Receptor</label>
                    
                            {{form.receptor}}
                    
                </div>

                <div>
                <label for="departamento" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Departamento</label>
                    
                {{form.department}}
        
                </div>

                <div>
                    <label for="departamento" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Depósito de Entrada</label>
                        
                    {{form.warehouse}}
                    
                    </div>

                    <div>
                        <label for="departamento" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Depósito de Salida</label>
                            
                        {{form.warehouseSalida}}
                        
                        </div>
                
                </div>
                 <div class="py-8">          
                 <table id="productTable" class="py-8 px-4 max-w-4xl lg:py-16 text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-black uppercase bg-green-500 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            
                            <th scope="col" class="px-6 py-3">Producto</th>
                            <th scope="col" class="px-6 py-3">Cantidad</th>
                            <th scope="col" class="px-6 py-3">Cantidad Neta</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for task in tasks %}

                        {% for product in task.stockmovements_set.all %}
                        {% if  product.actionType == "Transferencia" %}
                             <tr class="bg-gray-100 border-b dark:bg-gray-800 dark:border-gray-700">
                                <td class="w-1/2"><input type="text" name="producto_{{ forloop.counter0 }}" value="{{product.warehouseProduct.product.name}}"  class="bg-gray-200 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  id="" name="" placeholder="" disabled></td>
                                <td class="px-6 py-4"><input type="number" name="cantidad_{{ forloop.counter0 }}" value="{{product.cantidad}}"  class="bg-gray-200 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="" name="" placeholder="" disabled></td>             
                                    <!-- <td class="px-6 py-4" name="producto_{{ forloop.counter0 }}" value="{{product.product.name}}">{{product.product.name}}</td>
                                <td class="px-6 py-4" name="cantidad_{{ forloop.counter0 }}" value="{{product.cantidad}}">{{product.cantidad}}</td> -->
                                <td class="px-6 py-4"><input type="number" name="cantidadNeta_{{forloop.counter0}}" class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="" name="" placeholder="" required></td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                        {% endfor %}  
                         <!-- {% for product in form.get_products_fields %}
                               {{product}}
                         <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                             
                                <td class="px-6 py-4" name="producto_{{ forloop.counter0 }}">{{ product }}</td>
                                <td class="px-6 py-4" name="cantidad_{{ forloop.counter0 }}">{{ product }}</td>
                                <td class="px-6 py-4"><input type="number" name="cantidadNeta_{{forloop.counter0}}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" type="text" id="" name="" placeholder="" required></td>
                            </tr>
                            {% endfor %}  -->
                    </tbody>
                </table> 
            </div>

            <div id="loader" role="status" style="display: none;">
                <svg aria-hidden="true" class="w-8 h-8 mx-auto text-gray-200 animate-spin dark:text-gray-600 fill-green-500" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                    <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                </svg>
                <span class="sr-only">Loading...</span>
            </div>


            <div class="sm:col-span-2">
                <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Observaciones Solicitud</label>
                {{form.observationsSolicitud}}
            </div>

                <div class="sm:col-span-2">
                    <label for="description" class="block mb-2 mt-4 text-sm font-medium text-gray-900 dark:text-white">Observaciones Entrega</label>
                    {{form.observationsConfirma}}
                </div>
            
            <button type="submit" class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                Confirma Ingreso
            </button>

            <a href="{% url 'tasks' %}" ><button type="button" class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                Volver a Tareas
                </button></a>
        </form>
    </div>

    {% if form.errors %}
    <div class="alert alert-danger">
        {{ form.errors }}
    </div>
{% endif %}
  </section>


  <script>

let form_count = Number($("[name=extra_field_count]").val());

$('#productsreception').submit(function(e) {

   // e.preventDefault()

    var table = document.getElementById('productTable')
    
    form_count = table.rows.length -1;

    console.log('form_count', form_count)
    $("[name=extra_field_count]").val(form_count);
})
    
function openLoader() {
    document.getElementById("loader").style.display = "block";

}
    

    </script>

  {% endblock content %}
